:root {
  --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --SoftRed: hsl(14, 88%, 65%);
  --SoftVioletGradient: hsl(273, 75%, 66%);
  --SofBlueGradient: hsl(240, 73%, 65%);
  --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
  --DarkGrayishBlue: hsl(240, 6%, 50%);
  --LightGrayishBlue: hsl(240, 5%, 91%);
  --ContainerCard: hsl(0, 0%, 100%);
}
