section.container-faq {
  padding: 5rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.container-faq .container-title {
  padding: 1.5rem 0 0 0;
}

section.container-faq .container-title h1 {
  font-size: 2.2em;
  font-weight: 700;
}

section.container-faq ul.container-faq-items {
  width: 100%;
  margin: 0.5rem 0 0 0;
  padding: 0 1.4rem;
}

section.container-faq ul.container-faq-items div.team {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--DarkGrayishBlue);
}

section.container-faq ul.container-faq-items div.team li:hover {
  color: var(--SoftRed);
}

section.container-faq ul.container-faq-items div.team img {
  height: 8px;
}

section.container-faq ul.container-faq-items div.container-faq-popup {
  border-bottom: 1px solid var(--DarkGrayishBlue);
}

section.container-faq ul.container-faq-items div.container-faq-popup .faq-popup {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.container-faq ul.container-faq-items div.container-faq-popup .faq-popup li.question:hover {
  color: var(--SoftRed);
}

section.container-faq ul.container-faq-items div.container-faq-popup .faq-popup li.question.active {
  color: var(--VeryDarkDesaturatedBlue);
  font-weight: 700;
}

section.container-faq ul.container-faq-items div.container-faq-popup .faq-popup img.arrow-down {
  height: 8px;
}

section.container-faq ul.container-faq-items div.container-faq-popup .faq-popup img.arrow-down.arrow-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

section.container-faq ul.container-faq-items div.container-faq-popup li.answer {
  padding: 0 0 1rem 0;
  cursor: unset;
}

section.container-faq ul.container-faq-items div.container-faq-popup li.popup {
  color: var(--LightGrayishBlue);
  display: none;
}

section.container-faq ul.container-faq-items div.reset-password {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--DarkGrayishBlue);
}

section.container-faq ul.container-faq-items div.reset-password li:hover {
  color: var(--SoftRed);
}

section.container-faq ul.container-faq-items div.reset-password img {
  height: 8px;
}

section.container-faq ul.container-faq-items div.subscription {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--DarkGrayishBlue);
}

section.container-faq ul.container-faq-items div.subscription li:hover {
  color: var(--SoftRed);
}

section.container-faq ul.container-faq-items div.subscription img {
  height: 8px;
}

section.container-faq ul.container-faq-items div.support {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--DarkGrayishBlue);
}

section.container-faq ul.container-faq-items div.support li:hover {
  color: var(--SoftRed);
}

section.container-faq ul.container-faq-items div.support img {
  height: 8px;
}

section.container-faq ul.container-faq-items div li {
  font-size: 1em;
  list-style: none;
  color: var(--VeryDarkGrayishBlue);
  cursor: pointer;
}
/*# sourceMappingURL=sectionContainerFAQ.css.map */